# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Naitong Zhang
email: naitong.zhang@outlook.com
description: >- # this means to ignore newlines until "baseurl:"
  economist and artist
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://naitongzhang.com" # the base hostname & protocol for your site, e.g. http://example.com


collections:
  - posts
  - pages
  - artworks

# Social media links
twitter_username: NaitongZhang
github_username:  naitongzhang
instagram_username: naitong.zhang

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

# Pages
header_pages:
  - index.md
  - blog.md
  - artwork.md
  - about.md
  - browse.md # Assuming you've added the browse page from previous suggestions
  - search.md

google_analytics: G-790T779RET # Replace with your Google Analytics ID

show_excerpts: true

# This is the default configuration for Jekyll.
default:
  - 
    scope:
      path: "" # the root path of your site
      type: "post" # the type of content this applies to
    values:
      layout: "post" # the default layout for all pages
      permalink: /:categories/:year/:month/:day/:title.html # the default permalink structure for all pages
  -
    scope:
      path: ""
      type: "artworks" # Applies to the 'artworks' collection
    values:
      layout: "artwork" # Use a specific layout for artworks (you'll create this next)
      permalink: /artworks/:title/ # A cleaner permalink structure for artworks

# Permalinks for categories and tags generated by the plugin
# These define the URL structure for your category and tag pages
category_permalink: /categories/:name/
tag_permalink: /tags/:name/


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
