//
// Custom styles for the search page
//

#search-input {
  width: 100%;
  padding: 0.8em;
  font-size: 1.1em;
  border: 1px solid $grey-color-light;
  border-radius: 4px;
  margin-bottom: 1.5em;
  box-sizing: border-box; // Include padding in width
}

#search-results {
  list-style: none;
  padding: 0;
}

#search-results li {
  margin-bottom: 0.8em;
  border-bottom: 1px dashed $grey-color-light;
  padding-bottom: 0.8em;
}

#search-results li:last-child {
  border-bottom: none;
}

#search-results a {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: $text-color;
}
